<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/header :: common-header}"></head>

<body>

<!-- ================= NAVBAR ================= -->
<div th:replace="~{common/header :: navbar}"></div>

<div class="container">

    <!-- ================= CAROUSEL ================= -->
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="carousel-example-generic"
                         class="carousel slide"
                         data-ride="carousel">

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic"
                                data-slide-to="0"
                                class="active"></li>
                            <li data-target="#carousel-example-generic"
                                data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic"
                                data-slide-to="2"></li>
                        </ol>

                        <!-- Slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg"/>
                                <div class="carousel-caption">
                                    <h4>First Thumbnail Label</h4>
                                    <p>Lorem ipsum placeholder text.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg"/>
                            </div>
                            <div class="item">
                                <img src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg"/>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control"
                           href="#carousel-example-generic"
                           role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control"
                           href="#carousel-example-generic"
                           role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <img th:src="@{/image/logo.png}" class="img-responsive"/>
        </div>
    </div>

    <hr/>

    <!-- ================= INFO SECTION ================= -->
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img th:src="@{/image/bestseller.png}" class="img-responsive"/>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img th:src="@{/image/hours.png}" class="img-responsive"/>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img th:src="@{/image/faq.png}" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>

    <!-- ================= FEATURED BOOKS ================= -->
    <div class="home-headline">
        <span>Featured Books</span>
    </div>
    <hr style="margin-top:-15px;"/>

    <div class="row">
        <div id="featured-books"
             class="carousel slide"
             data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#featured-books" data-slide-to="0" class="active"></li>
                <li data-target="#featured-books" data-slide-to="1"></li>
                <li data-target="#featured-books" data-slide-to="2"></li>
            </ol>

            <!-- Slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img th:src="@{/image/shelf.png}" class="img-responsive"/>
                    <div class="carousel-caption">
                        <div class="row">
                            <!-- Loop 6 books -->
                            <div class="col-xs-2" th:each="i : ${#numbers.sequence(1,6)}">
                                <img th:src="@{/image/book1.png}" class="img-responsive"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img th:src="@{/image/shelf.png}" class="img-responsive"/>
                </div>

                <div class="item">
                    <img th:src="@{/image/shelf.png}" class="img-responsive"/>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#featured-books" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#featured-books" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

</div>

<!-- ================= JS SCRIPTS ================= -->
<div th:replace="~{common/header :: body-bottom-scripts}"></div>

</body>
</html>